$grey-text: #97a0a9;
$grey-border: #d0d8df;
$background-color: #F6FAFD;
$light-blue: #074a5f;
$blue-gray: #edf1f5;
$dark-blue: #0d3244;
$blue-gray: #f7fafc;
$green: #47b083;
$grey-border: #d0d8df;
$cyan: #0e99b9;
$blue: #98c1f6;
$blue-button: #4597b5;
